.bd-example,
.tab-content {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.slider h3 {
  background: #000;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
#slide_cont
{
 box-shadow:0px 0px 10px 0px silver;
 width:600px;
 height:400px;
 margin-top:100px;
}
#slideshow_image
{
 width:600px;
 height:400px;
}
#prev_image,#next_image
{
 width:40px;
 height:40px;
}